
div {
  --navigation-noclick-color: rgb(224, 224, 224);
  --navigation-onclick-color: #67e1f4ff;
  --navigation-gap: 12px;
  --navigation-height: 92px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
