.cancel-btn {
    transition: border .25s ease, color .25s ease, background-color .25s ease;
    background-color: var(--cultured);
    color: black;
}

.cancel-btn:hover {
    color: white;
    background-color: var(--imperial-red);
    border: 0.5px solid white;
}