/************************************
 * form entry
 */

.form-entry-card {
    display: flex;
    flex-direction: column;

    margin: .8em 0;
    padding: 6px 6px 6px 20px;
    border: .1em solid transparent;

    border-radius: .8em;
    background-color: #272733;
}

.form-entry-card:hover,
.form-entry-card:focus-within {
    border: .1em solid var(--sky-blue-crayola);
    box-shadow: .1px .1px 8px var(--midnight-green-eagle-green);
}
