.card-layout {
    --card-gap-size: 100px;
    
    display: grid;
    
    margin: 30px 20px;
    padding: 0 40px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 20vh);
    gap: var(--card-gap-size);
}